<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.odunayo.mapplus" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
         "@string/google_maps_key"
    -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/new_icon"
        android:label="MapsPlus"
        android:theme="@style/AppTheme"
        android:screenOrientation="portrait">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAE9klB6HEc0LtIVy0mqUMA2JZP6AGSKiE" />

        <activity
            android:name=".MapsActivity"
            android:label="MapsPlus" >

            <!--
            <intent-filter !>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter!
            -->
        </activity>
        <activity
            android:name=".Splash"
            android:label="TigerMap" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="TigerMaps" >
        </activity>
        <activity
            android:name=".SelectFriends"
            android:label="Select Friends" >
        </activity>
        <activity
            android:name=".DirectionsActivity"
            android:label="DirectionsActivity" >
        </activity>
        <activity
            android:name=".DisplayDirectionActivity"
            android:label="Display" >
        </activity>
        <activity
            android:name=".NewEventPage"
            android:label="New Event Page" >
        </activity>
        <activity
            android:name=".CurrentEventPage"
            android:label="Current Event Page"
            android:theme="@style/Theme.AppCompat.Light">
        </activity>
        <activity
            android:name=".FindActivity"
            android:label="Find" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="Settings" >
        </activity>
    </application>

</manifest>
